{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Podcasts</title>
	<link rel="stylesheet" type="text/css"href="{%static 'home/graphics/application.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic' rel='stylesheet' type='text/css'>
</head>
	<body>
		<header id="main_header" class="cf">
			<div class="wrapper_wide">
				<a href="{% url 'home' %}" id="logo">EventHive</a>
				<nav>
					<ul>
						<li><a href="events.html">Explore</a></li>
						<li><a href="sign-in.html">Sign In</a></li>
						<li><a href="sign-up.html">Create an Event</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<div id="banner" class="sign_in_banner">
			<h1>Welcome</h1>
		</div>

		<div id="form">
			<div class="wrapper_skinny">
			<h1>Welcome </h1>
			<div>The advertisement of events in Kenya has not been at its best for years. This can be said without fear of any doubt as so much is expected with the rapid development of technology in the country. Event organizers have very minimal limited platforms to make their events know and those who have the intent of attending events are left behind due to lack of knowledge of the events. In addition to that, event organizers have had a hard time trying to figure out the reaction of the people who attended the events that they host. On the other hand, the ones who attended the events are made to undergo a serious struggle as they try to trace the photographers of the event in order to acquire their own photos. Some of the people who intend to attend certain events end up forgetting as they have no one to remind them.</div>
			<h1>Featured Event</h1>
				{% block content %}
				{% endblock %}
			</div>
		</div>
		
	</body>
</html>
